<a href="https://colab.research.google.com/github/geekaman243/WomenCellDataAnalytics/blob/master/predictionCrime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import random
import pandas as pd
import random as rd
from google.colab import files
from shapely.geometry import Polygon, Point
def random_points_within(poly, num_points):
    min_x, min_y, max_x, max_y = poly.bounds

    points = []

    while len(points) < num_points:
        random_point = Point([random.uniform(min_x, max_x), random.uniform(min_y, max_y)])
        if (random_point.within(poly)):
            points.append(random_point)

    return points
    poly = Polygon([(28.881426, 77.075359), (28.856170, 77.211315), (28.417491, 77.166959),(28.582837, 76.848356),(28.822546, 76.952726)])
def createdataframe(k,points):
  lx=[]
  ly=[]
  crimelisttype=[str(k)]
  cr=[]
  for p in points:
     lx.append(p.x)
     ly.append(p.y)
     cr.append(rd.choice(crimelisttype))
  dictionarydb={'latitude':lx,'longitude':ly,'crimeActivity':cr}
  df = pd.DataFrame(dictionarydb)  
  return df
def createdatafrae(points):
     lx=[]
     ly=[]
     crimelisttype=["trafficking","kidnapping","rape","eve teasing"]
     cr=[]
     for p in points:
        lx.append(p.x)
        ly.append(p.y)
        cr.append(rd.choice(crimelisttype))
     dictionarydb={'latitude':lx,'longitude':ly,'crimeActivity':cr}
     df = pd.DataFrame(dictionarydb)  
     return df

In [0]:
#data entry in chawri bazar
    poly = Polygon([(28.648862, 77.227192), (28.648655, 77.227498),(28.647822, 77.226473),(28.647648, 77.226940)])
    points=random_points_within(poly,30)
    dfb1=createdataframe("trafficking",points)
    
    points1=random_points_within(poly,10)
    dfr1=createdatafrae(points1)

    set1=pd.concat([dfb1,dfr1],axis=0)
    set1=set1.reset_index(drop=True)

In [0]:
poly = Polygon([(28.669842, 77.276738), (28.662150, 77.272790),(28.666401, 77.276473),(28.522511, 77.202122)])
points=random_points_within(poly,30)
dfb2=createdataframe("rape",points)
points1=random_points_within(poly,10)
dfr2=createdatafrae(points1)
set2=pd.concat([dfb2,dfr2],axis=0)
set2=set2.reset_index(drop=True)

In [0]:
poly = Polygon([(28.720889, 77.141468), (28.669842, 77.276738), (28.662150, 77.272790),(28.666401, 77.276473)])
points=random_points_within(poly,30)
dfb3=createdataframe("eve teasing",points)
points1=random_points_within(poly,10)
dfr3=createdatafrae(points1)
set3=pd.concat([dfb3,dfr3],axis=0)
set3=set3.reset_index(drop=True)

In [0]:
poly = Polygon([(28.524924, 77.206285), (28.523427, 77.209783),(28.522511, 77.202122),(28.520192, 77.226940)])
points=random_points_within(poly,30)
dfb4=createdataframe("kidnapping",points)
points1=random_points_within(poly,10)
dfr4=createdatafrae(points1)
set4=pd.concat([dfb4,dfr4],axis=0)
set4=set4.reset_index(drop=True)

In [0]:
data=pd.concat([set1,set2,set3,set4],axis=0)
data.groupby('crimeActivity').size()

crimeActivity
eve teasing    40
kidnapping     38
rape           40
trafficking    42
dtype: int64

In [0]:
rslt_df1 = data.loc[data['crimeActivity']=='trafficking']
rslt_df2 = data.loc[data['crimeActivity']=='rape']
rslt_df3 = data.loc[data['crimeActivity']=='eve teasing']
rslt_df4 = data.loc[data['crimeActivity']=='kidnapping']

for training purpose

In [0]:
TrainXfeature=pd.concat([rslt_df1.head(56),rslt_df2.head(49),rslt_df3.head(36),rslt_df4.head(46)],axis=0)
TrainXfeature

     latitude  longitude crimeActivity
0   28.647991  77.226833   trafficking
1   28.647798  77.226542   trafficking
2   28.648219  77.226983   trafficking
3   28.647970  77.226676   trafficking
4   28.647941  77.226834   trafficking
..        ...        ...           ...
26  28.521936  77.210899    kidnapping
27  28.523015  77.208931    kidnapping
28  28.523018  77.214041    kidnapping
29  28.522993  77.211349    kidnapping
39  28.520620  77.223137    kidnapping

[156 rows x 3 columns]

traning label

In [0]:
Ylabel=TrainXfeature.iloc[:,-1]
TrainXfeature=TrainXfeature.drop(columns=['crimeActivity'])

testing data prepration

In [0]:
testdata=pd.concat([rslt_df1.tail(19),rslt_df2.tail(19),rslt_df3.tail(19),rslt_df4.tail(19)],axis=0)
testdata
Ylabeltest=testdata.iloc[:,-1]
testdata=testdata.reset_index(drop=True)
testdata=testdata.drop(columns=['crimeActivity'])

Machine Learning Algorithm Model

In [0]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(TrainXfeature, Ylabel)
KNeighborsClassifier(algorithm='auto', leaf_size=3, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
print(knn.predict(testdata))

['trafficking' 'trafficking' 'trafficking' 'trafficking' 'eve teasing'
 'trafficking' 'trafficking' 'trafficking' 'trafficking' 'rape'
 'eve teasing' 'eve teasing' 'eve teasing' 'eve teasing' 'trafficking'
 'kidnapping' 'trafficking' 'trafficking' 'kidnapping' 'rape' 'rape'
 'rape' 'rape' 'eve teasing' 'rape' 'rape' 'rape' 'rape' 'rape' 'rape'
 'rape' 'eve teasing' 'eve teasing' 'eve teasing' 'eve teasing'
 'kidnapping' 'kidnapping' 'kidnapping' 'eve teasing' 'eve teasing'
 'eve teasing' 'rape' 'eve teasing' 'eve teasing' 'eve teasing'
 'eve teasing' 'eve teasing' 'eve teasing' 'eve teasing' 'eve teasing'
 'eve teasing' 'eve teasing' 'eve teasing' 'eve teasing' 'eve teasing'
 'eve teasing' 'kidnapping' 'kidnapping' 'trafficking' 'kidnapping'
 'kidnapping' 'kidnapping' 'kidnapping' 'kidnapping' 'kidnapping'
 'kidnapping' 'kidnapping' 'kidnapping' 'kidnapping' 'kidnapping'
 'kidnapping' 'kidnapping' 'kidnapping' 'kidnapping' 'kidnapping'
 'kidnapping']

Accuracy model

In [0]:

from sklearn.metrics import accuracy_score
accuracy_score(list(Ylabeltest),list(knn.predict(testdata)))

0.75